:root{
    --diag-content-width: 40vw;
    --error-message-width: 15vw;
    --header-height: 26px;
    --simulation-height: 70vh;
}

body{

    font-family: sans-serif;
}

.content-container{
    width: 90%; /* You can use other units like px, em, or % */
    height:max-content;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.simulation-container{ 
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1
}

.file-input-csv{

}

.go-js-canvas{
     
    height: var(--simulation-height); 
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
}

.simulation-container-header{
    background-color: #CBDCF0;
    padding: 1vw;
    border-radius: 0.5vw;
    height: var(--header-height);
    align-items: center;
    display: flex;
}

.message-container{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.message-header{
    background-color: #CBDCF0;
    padding: 1vw;
    border-radius: 0.5vw;
    height: var(--header-height);
    margin-left: 10px;
    text-align: center;
}

.message-collector{
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;

    overflow-y: scroll;
    max-height: var(--simulation-height);
}

.input-element{
    margin-left: 10px;
}